<!--<div class="alt-login">
    <div class="alt-login__divider">
        <span class="alt-login__text">OR</span>
    </div>
    <span class="alt-login__title">Login with:</span>
    <ul class="alt-login-links">
        <button id="fb-auth-btn" class="alt-login-links__btn  facebook  chat-icon-facebook-1">G+</button>
        <button id="google-auth-btn" class="alt-login-links__btn  google  chat-icon-google-1">Fb</button>
    </ul>
</div>-->

<div class="social-icons-content">
                     <div class="alt-login__divider">
                        <span class="alt-login__text">OR</span>
                    </div>
                    <span class="alt-login__title">Login with:</span>

                    <a class="social-icons-content__link" href="https://www.facebook.com">
                        <div class="social-icons-content__fb-icon"></div>
                    </a>
                    
                   <span class="social-icons-content__link">

                        <button type="submit" id="google-auth-btn" class="hover social-icons-content__g-icon"></button>
                   </span>
                    

                    <a class="social-icons-content__link" href="https://twitter.com/">
                        <div class="hover social-icons-content__tw-icon"></div>
                    </a>
                
                </div>          <!--end social-icons-content-->